<h1>Remarks</h1>

<% @remarks.each do |remark| %>
  <p><%= remark.content %></p>
  <%= link_to 'Edit', edit_admin_remark_path(remark) %>
  <%= link_to 'Delete', admin_remark_path(remark), method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %>
