// Body
body {
    background-color: #f2f2f2 !important;
}

// Animations
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-icon i {
    animation: rotate 1s infinite linear;
  }
  
  .loading-icon.d-none {
    display: none;
  }
  
  .loading-text {
    margin-left: 10px;
  }
  

// Containers
.container {
    max-width: 400px !important;
    margin: 0 auto;
    padding: 10px;
    padding-top: 100px;
}

// Cards
.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

// Forms
.form-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

// Notification
.toastify {
  font-family: 'Arial', sans-serif;
}

.toastify__toast {
  border-radius: 5px;
  background: linear-gradient(to right, #007bff, #00b0ff); /* Gradient background */
  color: #fff;
}

.toastify__toast-body {
  padding: 15px;
}

.btn-show-notification {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.toastify__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #00b0ff, #007bff); /* Gradient progress bar */
  border-radius: 0 0 5px 5px;
  animation: progressAnimation 10s linear;
}

@keyframes progressAnimation {
  to {
    width: 0;
  }
}