body {
  margin: 0;
  padding: 0;
  font-family: "Bruno Ace SC" !important;
  background-color: #000000 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
}

.login-box {
  text-align: center;
}

.divider {
  width: 100%;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.input-group {
  margin: 10px 0;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .login-btn,
  .register-btn {
    background-color: #e67e22;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: darken(#e67e22, 10%);
    }
  }

  .register-btn {
    background-color: #3498db;

    &:hover {
      background-color: darken(#3498db, 10%);
    }
  }
}
